#userModal {
	height: 50vh;
	width: 100%;
	margin-top: 10vh;
	
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-bottom: 3px solid;
	#userImage {
		height: 50%;
		width: 80%;
		background: $imagen;
		background-size: cover;
	}
}

#exhibition {
	margin-top: 2vh;
	height: 150vh;
	width: 100%;
	
	
	table {
		
		height: 100%;
		width: 100%;
		#header {
			width: 100%;
    		
    		display: flex;
    		display: none;
    		justify-content: space-around;

		}
		tr {
			display: flex;
			flex-direction: column;
			height: 25%;
			justify-content: space-evenly;
			td {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				p {
					font-weight: 800;
				}
				a {
					height: 5vh;
					@include pill;
					border:2px solid white;
					background: $azul;
					color: white;
					font-weight: bold;
				}
				#editBtn {
					background:#14213D;
				}
				#delBtn {
					background:#DA4167;
				}
				button {
					height: 5vh;
					@include pill;
					border:2px solid white;
					background: $azul;
					color: white;
					font-weight: bold;
				}
			}
		}
	}
}

#btnCrearLie {
		height: 10vh;
		
		display: flex;
		justify-content: center;
		align-items:center;
		
		a {
			text-decoration: none;
			background: black;
			color: white;
			padding: 10px;
			@include pill;
		}
}

#downloadModal {
	height: 60%;
	width: 80%;
	position: fixed;
	background:white;
	top: 30%;
	left: 10%;
	justify-content: center;
	display: none;
	#closeDownload {
		width: 80%;
		height: 7vh;
    	display: flex;
    	align-items:end;
    	justify-content: flex-end;
    	z-index: 12;
    	position: absolute;
    	i {
    		font-size: 20px;
    	}
	}
	#contentDown {
		display: flex;
		flex-direction: column;
		align-items:center;
		justify-content: space-around;
		height: 100%;
		width: 30%;
		
		textarea {
			display: none;
		}
		a {
			height: 5vh;
			@include pill;
			border:2px solid white;
			background: $azul;
			color: white;
			font-weight: bold;
		}	
	}
	
}

#paginacion {
	height: 10vh;
	width: 100%;
	
	display: flex;
	justify-content: center;
	margin-bottom: 5vh;
	#container {
		height: 100%;
		width: 40%;
		
		display: flex;
		align-items: center;
		nav {
			height: 100%;
			width: 100%;
			ul {
				height: 100%;
				width: 100%;
				display: flex;
				justify-content: space-around;
				align-items:center;
				li {
					text-decoration: none;
					color: black;
					list-style: none;
					font-weight: bold;
					a {
						text-decoration: none;
						color: black;
					}
					a[rel="next"] {
						font-size: 20px;
					}
					
				}
				.active {
					background:$azul;
					padding: 7px;
					padding-left:12px;
					padding-right:12px;
					color: white;
					border-radius:10px;
				}
			}
		}
	}
}


@media(min-width: 900px) {
	#userModal {
		height: 30vh;
		#userImage {
			height: 60%;
			width: 20%;
		}
	}
	#exhibition {
		height: 51vh;
		width: 100%;
		table {
			
			height: 100%;
			width: 100%;

			#header {
				height: 5vh;
				display: flex;
				flex-direction: row !important;

				th {
					width: 20%;
    				justify-content: center;
				    display: flex;
				}
			}
			tr {
				display: flex;
				flex-direction: row;
				height: 10vh;
				justify-content: center;

			}
		}
	}
	#btnCrearLie {
		height: 7vh;
	}

	#downloadModal {
		width: 40%;
		top: 30%;
		left: 30%;
	}

	#paginacion {
		height: 5vh;
		width: 100%;
	}
}
