//landing page
p {
	color: var(--texto);
	font-weight: 200;
	font-family: 'Source Sans Pro', sans-serif;
}
h1 {
	color: var(--texto);
}
h2 {
	color: var(--texto);
}
i {
	color: var(--texto);
}
#group_message {
    top: 5%;
    position: absolute;
    z-index: -90;
    left: 10%;
    font-size: 18px;

}
#firstSection {
	margin-top: 12vh;
	height: 90vh;
	width: 100%;
	display: flex;
	flex-direction:column;
	align-items: center;
	#containerFirst {
		width: 80%;
		height: 100%;
	
	
		#logo {
			height: 50%;
			width: 100%;
			
			
		}
		#textFirst {
			height: 50%;
			margin-top: 5%;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			text-align: center;
			div {
				color:$azul;
				
				width: 100%;
				transition: all 1s;
			}
		}
		
	}
	#buttonDown {
			width: 100%;
			height: 15%;
			
			display: flex;
			justify-content: center;
			align-items:center;
			#outliner {
				height: 50%;
				width: 20%;
				border:3px solid var(--texto);
				display: flex;
				justify-content: center;
				align-items:center;
				border-radius:15%;
				transition: all 1s;
				i {
					font-size: 30px;
				}
				&:hover {
					background:var(--texto);
					i {
						color: var(--body);
					}
				}
			}
		}
}

//second section

#secondSection {
	margin-top: 5%;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items:center;
	.pretext {
				
				height: 70%;
				display: flex;
				flex-direction: column;
				gap:10%;
	}
	#text {
		height: 60%;
		width: 100%;
		
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	#image {
		height: 40%;
		width: 80%;
		
		svg {
			height: 100%;
			width: 100%;
		}
	}
}

//third section
#thirdSection {
	height: 300vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	#text {
		height: 50vh;
		width: 100%;
		
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	#pictures {
		height: 240vh;
		width: 100%;
		
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		.picture {
			background:var(--landingGrey);
			width: 100%;
			height: 29vh;
			svg {
				height: 100%;
				width: 100%;
			}
		}
		
	}
	#thirdBtn {
		margin-top: 3%;
		display: flex;
		justify-content: center;
		a {
			border:none;
			background:$azul;
			color: white;
			font-size: 20px;
			padding: 15px;
			text-decoration: none;
			i {
				color: white;
			}
		}
	}
}

//cuarta seccion
#fourthSection {
	height: 160vh;
	width: 100%;
	margin-top: 5%;
	#text {
		
		height: 50vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		h1 {
			text-align: center;
			font-size: 25px;
		}
		#pretext2 {
			width: 60%;
		}
	}
	#toolsLanding {
		height: 93vh;
		width: 100%;
		
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		.toolLan {
			height: 28vh;
			width: 80%;
			background: var(--landingGrey);
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			.photoTool {
				height: 60%;
				background: white;
				width: 60%;

				svg {
					height: 100%;
					width: 100%;
				}
			}
			p {
				text-align: center;
				color: black !important;
			}
		}
	}
	#btnContainer {
		display: flex;
		justify-content: center;
		margin-top: 5vh;
		a {
			background:$tutorialBtn;
			color: white;
			padding: 20px;
			text-decoration: none;
			i {
				color: white;
			}
		}
	}
}
//quinta seccion
#fifthSection {
	height: 90vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	h1 {
		text-align: center;
	}
	#fifthBtn {
		
		height: 10vh;
		display: flex;
		justify-content: center;
		align-items:center;
		a {
			background: $azul;
			color: white;
			border:none;
			text-decoration: none;
			padding: 10px;
		}
	}
	#imageFifthContainer {
		height: 50%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		#imageFifth {
			height: 100%;
			width: 80%;
			
			svg {
				height: 100%;
				width: 100%;
			}
		}	
	}
	
}
//fin landing page



//media
//aux
@media (max-width: 300px) { 
	#fourthSection {
		margin-top: 45%;
	}
	#secondSection {
		#image {
			margin-top: 30%;
		}
	}
}
//first
@media (min-width: 992px) { 
	#firstSection {
		margin-top: 12vh;
		height: 86vh;
		#containerFirst {
			display: flex;
			height: 75%;
			justify-content: space-between;
			#logo {
				height: 100%;
				width: 45%;
			}
			#textFirst {
				height: 80%;
				width: 40%;
				h1 {
					font-size: 38px;
				}
				p {
					font-size: 20px;
				}
			
				
			}
		}
		#buttonDown {
			margin-top: 3%;
			#outliner {
				width: 4%;
			}
		}
	}
}

//second section
@media (min-width: 992px) { 
	#secondSection {
		
		margin-top: 0%;
		display: flex;
		flex-direction: row-reverse;
		align-items:center;
		justify-content: space-around;
		#image {
			height: 80vh;
			width: 35%;
		}
		#text {
			height: 90vh;
			width: 30%;
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			h1 {
				font-size: 35px;
			}

			.pretext {
				p {
					font-size: 20px;
				}
			}
		}
	}
}

//media third
@media (min-width: 992px) { 
	#thirdSection {
		height: 110vh;
		width: 100%;
		#text {
			height: 22vh;
			margin-bottom: 1%;
			
			h1 {
				font-size: 35px;
			}
			p {
				font-size: 18px;
			}
		}
		#pictureContainer {
			height: 100%;
			width: 100%;
			display: flex;
			justify-content: center;
		}
		#pictures {
			width: 85%;
			height: 80vh;
			display: grid;
			justify-items: center;
			grid-template-columns: repeat(5, 1fr);
			grid-template-rows: repeat(2, 1fr);
			
		}
		.picture {
			
			
			height: 98% !important;
			width: 98% !important;
		}
		#p1 {
			grid-row: 1/2;
			grid-column: 1/2;
		}
		#p2 {
			grid-row: 2/2;
			grid-column: 1/2;
			
		}
		#p3 {
			grid-row: 1/3;
			grid-column: 2/4;
			height: 99% !important;

		}
	}
}

#container_idioma_select {
	display: flex;
	align-items: center;
}
#idiomaSelect {
	appearance: auto;
	background: none;
	border:none;
	padding-right: 0px !important;
	color:var(--texto);
	option {
		color: black;
	}
}
#idiomaSelect:focus {
	background: transparent !important;
	border:none !important;
	outline: none !important;
	color: #7d2ae8;
	font-weight: bold;
}
//media fourth
@media (min-width: 992px) { 
	#fourthSection {
		height: 90vh;
		#text {
			height: 20vh;
			#pretext2 {
				p {
					text-align: center;
					font-size: 18px;
				}
			}
		}
		#toolsLanding {
			height: 50vh;
			display: flex;
			flex-direction: row;
			.toolLan {
				width: 30%;
				height: 100%;
			}
		}
	}
}

//media fifth
@media (min-width: 992px) { 
	#fifthSection {
		height: 80vh;
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-around;
		align-items: center;
		#fifthText {
			height: 60%;
			width: 30%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap:5%;
			p {
				text-align: left;
				font-size: 20px;
			}
			h1 {
				font-size: 35px;
			}
		}
		#imageFifthContainer {
			width: 40%;
			height: 70%;
			#imageFifth {
				width: 90%;
			}
		}
	}
	#group_message {
    top: 2%;
    position: absolute;
    z-index: -90;
    left: 37%;
    font-size: 26px;
}	
}

//animaciones
.text-logo {
 
  stroke-dashoffset: 100%;
  stroke-dasharray: 100%;
  -moz-animation: draw 3s forwards ease-in;
  -webkit-animation: draw 8s forwards ease-in;
  animation: draw 8s forwards ease-in;
  -webkit-background-clip: text;
   stroke: var(--texto);
  fill: none;
  opacity: 1;
}

.text-share {
	stroke-dashoffset: 100%;
  stroke-dasharray: 100%;
  -moz-animation: drawUpt 3s forwards ease-in;
  -webkit-animation: drawUpt 8s forwards ease-in;
  animation: drawUpt 8s forwards ease-in;
  -webkit-background-clip: text;
  stroke: black;
  transition: all 1s;
  fill: none;
  opacity: 1;
}

.plus {
	 -moz-animation: skew 3s forwards ease-in;
  -webkit-animation: skew 3s forwards ease-in;
  animation: skew 3s forwards ease-in;

   stroke: black;
  fill: none;
  opacity: 1;
  transform: rotate(45deg);
}

.flip {
	-moz-animation: flip 3s forwards ease-in;
  -webkit-animation: flip 3s forwards ease-in;
  animation: flip 3s forwards ease-in;
   stroke: black;
  fill: none;
  opacity: 1;
  transition: transform 0.6s;
	transform-style: preserve-3d;
}
.plus-wallet {
	 -moz-animation: skew 6s forwards ease-in;
  -webkit-animation: skew 6s forwards ease-in;
  animation: skew 6s forwards ease-in;

   stroke: black;
  fill: none;
  opacity: 1;
  transform: rotate(45deg);
}
.text-logo2 {
 
  stroke-dashoffset: 100%;
  stroke-dasharray: 100%;
  -moz-animation: drawboost 6s forwards  ease-in;
  -webkit-animation: drawboost 6s forwards  ease-in;
  animation: drawboost 6s forwards  ease-in;
  -webkit-background-clip: text;
   stroke: var(--texto);
  fill: none;
  opacity: 1;
}

.cal-logo {
	transition:all 0.5s;
	-moz-animation: color 6s alternate  ease-in;
  -webkit-animation: color 6s alternate  ease-in;
  animation: color 6s alternate ease-in;
}

.cub-logo {
	opacity: 0;
	transition:all 0.5s;
	-moz-animation: op 6s forwards  ease-in;
  -webkit-animation: op 6s forwards  ease-in;
  animation: op 6s forwards ease-in;
}

.color-logo {
	transition:all 0.5s;
	-moz-animation: color 6s reverse ease-in;
  -webkit-animation: color 6s reverse ease-in;
  animation: color 6s reverse ease-in;
}

.colorSvg {
	transition:all 0.5s;
	stroke-width:1 !important;
	stroke:black;
}
@keyframes op {
	100% {
		opacity: 1;
	}
}

@keyframes color {
	100% {
		fill: red;
		stroke: red;
	}
}
@keyframes drawboost {
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 0;
  }
}

@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawUpt {
  100% {
    stroke-dashoffset: 0;
    fill: black;
  }
}

@keyframes skew {
	100% {
		transform: rotate(0deg);
	}
}

@keyframes flip {
	100% {	
		transform: rotateY(180deg);
	}
}
.secondly {
	transition:all 0.5s;
	opacity: 0;
	animation: appear 3s forwards ease-in;
	animation-delay: 3.5s;
}

.thirdly {
	transition:all 0.5s;
	opacity: 0;
	animation:appear 3s forwards ease-in,rotate 3s forwards ease-in,again 3s forwards ease-in;
	//animation-delay: 4.5s;	
	stroke-dashoffset: 100%;
  stroke-dasharray: 100%;
   stroke: black;
  fill: none;
  stroke-width:2;
}

@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes rotate {
	from {
		//stroke-width:0.5;
	}
	to {
		//stroke-width:1.4;
		stroke-dashoffset:0;
	}
}

//loader
.loader_container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0%;
  z-index: 90;
  background: #0C0404;
}

.span-container {
  width: 100px;
  height: 100px;
  transform: translate(-50% -50%);
  position: absolute;
  top: 42%;
  left: 45%;
  span {
	  display: block;
	  position: absolute;
	  width: 40%;
	  height: 40%;
	  border-radius: 50%;
	  animation: speed 2s infinite ease-in-out;
	}
	.one {
	  background: #c9ba12;
	  animation-delay: 1.5s;
	}

	.two {
	  background: #a11cc7;
	  animation-delay: 1s;
	}

	.three {
	  background: #237ead;
	  animation-delay: 0.5s;
	}

	.four {
	  background: #e0bcbc;
	}
}

@keyframes speed {
  0% {
    transform: translate(0%);
    border-radius: 50%;
  }

  25% {
    transform: translate(150%) scale(0.5);
    border-radius: 0%;
  }

  50% {
    transform: translate(150%, 150%);
    border-radius: 50%;
  }

  75% {
    transform: translate(0, 150%) scale(0.5);
    border-radius: 0%;
  }
}

