$gris:#696969;

#passIn {
	font-size: 20px;
}

#passIn::placeholder {
	font-size: 14px;
}
#passUp::placeholder {
	font-size: 14px;
}
#passUp {
	font-size: 20px;
}
.login_container {
	margin-top: 10vh;
	
	height: 80vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	p {
		font-weight: bold;
	}
	.oculto {
		height: 70%;
		width: 100%;
		position: absolute;
		top: 15%;
		left: 0%;
		border: 10px solid transparent;
		background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
		background-size: 400% 400%;
		animation: gradient 15s ease infinite;
		border-radius:20px;
	}
	.login_main {
		height: 85%;
		border-radius:20px;
		width: 98%;
		display: flex;
		flex-direction: column;
		align-items:center;
		background: var(--body);
		justify-content: space-around;
		position: relative;
		z-index: 90;
		

		form {
			height: 80%;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items:center;
			justify-content: space-around;
			div {
				display: flex;
				flex-direction: column;
				height: 10vh;
				width: 50%;
				justify-content: space-around;
			}
			input {
					border: none;
					outline:none;
					border-bottom: 3px solid;	
					background: var(--body);
					color: var(--texto);
				}
				input::placeholder {
					color: var(--texto);
				}
			.passLog {
				width: 100%;
				height: 10vh;
				
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-around;
				input {
					border: none;
					outline:none;
					width: 100%;
					border-bottom: 3px solid;	
					background: var(--body);
					color: var(--texto);
				}
				input::placeholder {
					color: var(--texto);
				}
			}
			#btnIn {
				display: flex;
				height: 10%;
				width: 50%;
				justify-content: center;
				button {
					width: 100%;
					border:none;
					background:$azul;
					color: white;
					@include pill;
				}
			}
		}
	}
}

#aw {
	width: 100%;
	height: 7%;
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
	z-index: 99;
	position: relative;
	a {
		@include pill;
	}
}

#aq {
	width: 100%;
	height: 7%;
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
	z-index: 99;
	position: relative;
	a {
		@include pill;
	}
}

//register
#form_register {
	height: 90%;
}

#btnUp {
	height: 5vh;
	button {
		width: 100%;
		border:none;
		background:$azul;
		color: white;
		@include pill;
	}
}

/* Fade in */
.loginEnlace {
	display: block;
	position: relative;
	padding: 0.02em 0;
}
.loginEnlace::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.02em;
	background-color: hotpink;
	opacity: 0;
	transition: opacity 300ms, transform 300ms;
}

.loginEnlace:hover::after,
.loginEnlace:focus::after {
	opacity: 1;
	transform: translate3d(0, 0.02em, 0);
}


//canvasTop
#lienzoTop {
	position:absolute;
	z-index: 9;
	height: 100vh;
	top: 0%;
	width: 100%;
}

#call_free {
	display: none;
}

#premium_container {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 30% !important;
	height: 5vh;
}
#crown {
	width: 30%;
	height: 100%;
}

#crown_path {
	transition: all 1s;
}
input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: none;
  /* Not removed via appearance */
  margin: 0;

  font: inherit;

  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid black !important;
  border-radius: 0.15em;
  transform: translateY(-0.075em);


  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {

  color: black !important;
  cursor: not-allowed;
}

//media query
@media (min-width: 992px) { 
	.passLog {
		flex-direction: row !important;
		
	}
	#btnIn {
		width: 20% !important;
	}
	#btnUp {
		width: 20% !important;
	}
	.login_main {
		width: 40% !important;
	}
	#aw {
		flex-direction: row;
	}
	#aq {
		flex-direction: row;
	}
	form div {
		width: 70% !important;
	}
	.oculto {
		height: 66%;
		width: 41% !important;
		position: absolute;
		top: 17%;
		left: 29.5% !important;
		background:black;
		//animation: o-rotate-360 linear 8s infinite;
	}
}

//animaciones
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
