
//tipografias
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
//variables
$imagen: #C4C4C4;
$tipografia: 'Montserrat', sans-serif;
$azul:#1FC0CF;
$rojo: #FFA69E;
$verde: #13C4A3;
$body: #FAFAFA;
$tutorialBtn: #3D4852;
$gris:#696969;
$landingGrey: white;
$pr: red;

//variables css
:root {
	--body: #FAFAFA;
	--texto: black;
	--landingGrey:white;
	--login-gradient:linear-gradient(to right top, #ff9a8b, #ff9288, #ff8987, #ff8086, #ff7786, #ff778a, #ff778d, #ff7791, #ff8098, #ff889f, #ff91a5, #ff99ac);
	--icon-gradient: -webkit-linear-gradient(#9c47fc, #356ad2);
	--azul:#1FC0CF;
	--rojo:#E84855;
	--liberty:#485696;
	--mulberry:#B95F89;
	--mulberry2:#216869;
}
//themes
html[data-theme='dark'] {
  --body:#373747;
  --anti-body:white;
  --texto: white;
  --landingGrey:white;
  --login-gradient:linear-gradient(0deg, rgba(135,255,239,1) 0%, rgba(153,213,255,1) 100%);
  --icon-gradient: linear-gradient(0deg, rgba(252,71,184,1) 0%, rgba(30,233,224,1) 100%);
}

html[data-theme="light"] {
	--body: #FAFAFA;
	--anti-body:#373747;
	--texto: black;
	--landingGrey:white;
	--login-gradient:linear-gradient(to right top, #ff9a8b, #ff9288, #ff8987, #ff8086, #ff7786, #ff778a, #ff778d, #ff7791, #ff8098, #ff889f, #ff91a5, #ff99ac);
	--icon-gradient: -webkit-linear-gradient(#9c47fc, #356ad2);
}

//reboot
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $tipografia;
}

body {
	background:var(--body);
	user-select: none;
}

i {
	cursor: pointer;
}

h1 {
	font-weight: bold !important;
}
//notificaciones
.notis {
	width: 10%;
	height: 10%;
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 80%;
	z-index: 1;

}

#container_notification_3 {
	display: none;
	opacity: 0;
}

#notificacion {	
	width: 100%;
}
#not_main {
	width: 100%;
	position: fixed;
  left: -60vh;
  animation: noti 2s ease forwards;
  width: 100%;
}

@media (min-width: 490px) {  
	#notificacion {
		width: 25%;
	}
	#not_main {
		width: 30%;
	}
}

.noti_ani {
  
}


  @keyframes noti {
    from {
      opacity: 0;
      left: -60vh;
    }
    to {
      opacity: 1;
      left: 0vh;
    }
  }

//dark mode transition
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms!important;
  transition-delay: 0!important;
}

//mixin
@mixin pill {
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 16px;
}
@mixin icon {
	font-size: 32px;
	color: #9c47fc;
	display: block;
	background: var(--icon-gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
//imports
@import "cabecera.scss";
@import "landing.scss";
@import "footer.scss";
@import "tutorial.scss";
@import "showcase.scss";
@import "login.scss";
@import "tablero.scss";
@import "dashboard.scss";
@import "404.scss";
@import "grupo.scss";

