@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Square+Peg&display=swap");
:root {
  --body: #FAFAFA;
  --texto: black;
  --landingGrey:white;
  --login-gradient:linear-gradient(to right top, #ff9a8b, #ff9288, #ff8987, #ff8086, #ff7786, #ff778a, #ff778d, #ff7791, #ff8098, #ff889f, #ff91a5, #ff99ac);
  --icon-gradient: -webkit-linear-gradient(#9c47fc, #356ad2);
  --azul:#1FC0CF;
}

html[data-theme=dark] {
  --body:#000;
  --texto: white;
  --landingGrey:#6D6875;
  --login-gradient:linear-gradient(0deg, rgba(135,255,239,1) 0%, rgba(153,213,255,1) 100%);
  --icon-gradient: linear-gradient(0deg, rgba(252,71,184,1) 0%, rgba(30,233,224,1) 100%);
}

html[data-theme=light] {
  --body: #FAFAFA;
  --texto: black;
  --landingGrey:white;
  --login-gradient:linear-gradient(to right top, #ff9a8b, #ff9288, #ff8987, #ff8086, #ff7786, #ff778a, #ff778d, #ff7791, #ff8098, #ff889f, #ff91a5, #ff99ac);
  --icon-gradient: -webkit-linear-gradient(#9c47fc, #356ad2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: var(--body);
  user-select: none;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 420ms !important;
  transition-delay: 0 !important;
}

.desplazado {
  box-shadow: 0px -2px 12px 3px var(--texto);
}

.no-desplazado {
  box-shadow: none;
}

#color_scheme {
  font-size: 22px;
  color: var(--texto);
}

#log_out {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  background: #B4654A;
  color: white !important;
}

#color_scheme {
  display: none;
}

#cabecera {
  position: fixed;
  top: 0%;
  z-index: 3;
  background: var(--body);
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
}
#cabecera h1 a {
  text-decoration: none;
  color: var(--texto);
  font-weight: bold;
  background: linear-gradient(90deg, var(--texto) 0%, #1fc0cf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Square Peg", cursive;
  font-size: 40px;
}
#cabecera #menu {
  width: 85%;
  display: flex;
  justify-content: end;
}
#cabecera #menu p {
  display: none;
}
#cabecera #menu p a {
  text-decoration: none;
}
#cabecera #menu p #in {
  text-decoration: none;
  color: white;
  background: #1FC0CF;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
#cabecera #menu i {
  font-size: 30px;
}

#menuMobile {
  background: var(--body);
  color: var(--texto);
  top: 0;
  position: fixed;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  display: none;
  z-index: 4;
}
#menuMobile p {
  font-size: 25px;
}
#menuMobile p #in {
  text-decoration: none;
  color: white;
  background: #1FC0CF;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
#menuMobile #closeMenu {
  width: 100%;
  display: flex;
  height: 5%;
  justify-content: end;
}
#menuMobile #closeMenu i {
  font-size: 30px;
}
#menuMobile #menuMobileText {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#menuMobile #menuMobileText h1 a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  background: linear-gradient(90deg, var(--texto) 0%, #1fc0cf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Square Peg", cursive;
  font-size: 40px;
}
#menuMobile #menuMobileText p a {
  text-decoration: none;
  color: var(--texto);
}

@media (min-width: 992px) {
  #color_scheme {
    display: flex;
  }

  #cabecera {
    justify-content: space-around;
    position: fixed;
    top: 0%;
  }
  #cabecera #menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #cabecera #menu p {
    display: unset;
  }
  #cabecera #menu p a {
    font-weight: 700;
    padding-top: 7px;
    padding-bottom: 7px;
    color: var(--texto);
  }
  #cabecera #menu i {
    display: none;
  }
}
/* Fade in */
.cabeceraEnlace {
  display: block;
  position: relative;
  padding: 0.2em 0;
}

.cabeceraEnlace::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: hotpink;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.cabeceraEnlace:hover::after,
.cabeceraEnlace:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.moon {
  animation: moonFade 2s ease-in-out forwards;
}

#scheme {
  width: 2vw;
  height: 100%;
  display: flex;
  align-items: center;
}

@keyframes moonFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}
p {
  color: var(--texto);
}

h1 {
  color: var(--texto);
}

h2 {
  color: var(--texto);
}

i {
  color: var(--texto);
}

#firstSection {
  margin-top: 12vh;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#firstSection #containerFirst {
  width: 80%;
  height: 100%;
}
#firstSection #containerFirst #logo {
  height: 50%;
  width: 100%;
}
#firstSection #containerFirst #textFirst {
  height: 50%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
#firstSection #containerFirst #textFirst div {
  color: #1FC0CF;
  width: 100%;
  transition: all 1s;
}
#firstSection #buttonDown {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#firstSection #buttonDown #outliner {
  height: 50%;
  width: 20%;
  border: 3px solid var(--texto);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  transition: all 1s;
}
#firstSection #buttonDown #outliner i {
  font-size: 30px;
}
#firstSection #buttonDown #outliner:hover {
  background: var(--texto);
}
#firstSection #buttonDown #outliner:hover i {
  color: var(--body);
}

#secondSection {
  margin-top: 5%;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#secondSection .pretext {
  height: 70%;
  display: flex;
  flex-direction: column;
  gap: 10%;
}
#secondSection #text {
  height: 60%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#secondSection #image {
  height: 40%;
  width: 80%;
}
#secondSection #image svg {
  height: 100%;
  width: 100%;
}

#thirdSection {
  height: 300vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#thirdSection #text {
  height: 50vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#thirdSection #pictures {
  height: 240vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#thirdSection #pictures .picture {
  background: var(--landingGrey);
  width: 100%;
  height: 29vh;
}
#thirdSection #pictures .picture svg {
  height: 100%;
  width: 100%;
}
#thirdSection #thirdBtn {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}
#thirdSection #thirdBtn a {
  border: none;
  background: #1FC0CF;
  color: white;
  font-size: 20px;
  padding: 15px;
  text-decoration: none;
}

#fourthSection {
  height: 150vh;
  width: 100%;
  margin-top: 5%;
}
#fourthSection #text {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#fourthSection #text h1 {
  text-align: center;
}
#fourthSection #text #pretext2 {
  width: 80%;
}
#fourthSection #toolsLanding {
  height: 93vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#fourthSection #toolsLanding .toolLan {
  height: 28vh;
  width: 80%;
  background: var(--landingGrey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#fourthSection #toolsLanding .toolLan .photoTool {
  height: 60%;
  background: white;
  width: 60%;
}
#fourthSection #toolsLanding .toolLan .photoTool svg {
  height: 100%;
  width: 100%;
}
#fourthSection #toolsLanding .toolLan p {
  text-align: center;
}
#fourthSection #btnContainer {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}
#fourthSection #btnContainer a {
  background: #3D4852;
  color: white;
  padding: 20px;
  text-decoration: none;
}

#fifthSection {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#fifthSection h1 {
  text-align: center;
}
#fifthSection #fifthBtn {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#fifthSection #fifthBtn a {
  background: #1FC0CF;
  color: white;
  border: none;
  text-decoration: none;
  padding: 10px;
}
#fifthSection #imageFifthContainer {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#fifthSection #imageFifthContainer #imageFifth {
  height: 100%;
  width: 80%;
}
#fifthSection #imageFifthContainer #imageFifth svg {
  height: 100%;
  width: 100%;
}

@media (min-width: 992px) {
  #firstSection {
    margin-top: 12vh;
    height: 86vh;
  }
  #firstSection #containerFirst {
    display: flex;
    height: 75%;
    justify-content: space-between;
  }
  #firstSection #containerFirst #logo {
    height: 100%;
    width: 45%;
  }
  #firstSection #containerFirst #textFirst {
    height: 80%;
    width: 40%;
  }
  #firstSection #containerFirst #textFirst h1 {
    font-size: 38px;
  }
  #firstSection #containerFirst #textFirst p {
    font-size: 20px;
  }
  #firstSection #buttonDown {
    margin-top: 3%;
  }
  #firstSection #buttonDown #outliner {
    width: 4%;
  }
}
@media (min-width: 992px) {
  #secondSection {
    margin-top: 0%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
  }
  #secondSection #image {
    height: 80vh;
    width: 35%;
  }
  #secondSection #text {
    height: 90vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #secondSection #text h1 {
    font-size: 35px;
  }
  #secondSection #text .pretext p {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  #thirdSection {
    height: 110vh;
    width: 100%;
  }
  #thirdSection #text {
    height: 22vh;
    margin-bottom: 1%;
  }
  #thirdSection #text h1 {
    font-size: 35px;
  }
  #thirdSection #text p {
    font-size: 18px;
  }
  #thirdSection #pictureContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #thirdSection #pictures {
    width: 85%;
    height: 80vh;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  #thirdSection .picture {
    height: 98% !important;
    width: 98% !important;
  }
  #thirdSection #p1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  #thirdSection #p2 {
    grid-row: 2/2;
    grid-column: 1/2;
  }
  #thirdSection #p3 {
    grid-row: 1/3;
    grid-column: 2/4;
    height: 99% !important;
  }
}
#idiomaSelect {
  background: none;
  border: none;
  color: var(--texto);
}
#idiomaSelect option {
  color: black;
}

@media (min-width: 992px) {
  #fourthSection {
    height: 90vh;
  }
  #fourthSection #text {
    height: 20vh;
  }
  #fourthSection #text #pretext2 p {
    text-align: center;
    font-size: 20px;
  }
  #fourthSection #toolsLanding {
    height: 50vh;
    display: flex;
    flex-direction: row;
  }
  #fourthSection #toolsLanding .toolLan {
    width: 30%;
    height: 100%;
  }
}
@media (min-width: 992px) {
  #fifthSection {
    height: 80vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  #fifthSection #fifthText {
    height: 60%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
  }
  #fifthSection #fifthText p {
    text-align: left;
    font-size: 20px;
  }
  #fifthSection #fifthText h1 {
    font-size: 35px;
  }
  #fifthSection #imageFifthContainer {
    width: 40%;
    height: 70%;
  }
  #fifthSection #imageFifthContainer #imageFifth {
    width: 90%;
  }
}
.text-logo {
  stroke-dashoffset: 100%;
  stroke-dasharray: 100%;
  -moz-animation: draw 3s forwards ease-in;
  -webkit-animation: draw 8s forwards ease-in;
  animation: draw 8s forwards ease-in;
  -webkit-background-clip: text;
  stroke: var(--texto);
  fill: none;
  opacity: 1;
}

.text-share {
  stroke-dashoffset: 100%;
  stroke-dasharray: 100%;
  -moz-animation: drawUpt 3s forwards ease-in;
  -webkit-animation: drawUpt 8s forwards ease-in;
  animation: drawUpt 8s forwards ease-in;
  -webkit-background-clip: text;
  stroke: black;
  transition: all 1s;
  fill: none;
  opacity: 1;
}

.plus {
  -moz-animation: skew 3s forwards ease-in;
  -webkit-animation: skew 3s forwards ease-in;
  animation: skew 3s forwards ease-in;
  stroke: black;
  fill: none;
  opacity: 1;
  transform: rotate(45deg);
}

.flip {
  -moz-animation: flip 3s forwards ease-in;
  -webkit-animation: flip 3s forwards ease-in;
  animation: flip 3s forwards ease-in;
  stroke: black;
  fill: none;
  opacity: 1;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.plus-wallet {
  -moz-animation: skew 6s forwards ease-in;
  -webkit-animation: skew 6s forwards ease-in;
  animation: skew 6s forwards ease-in;
  stroke: black;
  fill: none;
  opacity: 1;
  transform: rotate(45deg);
}

.text-logo2 {
  stroke-dashoffset: 100%;
  stroke-dasharray: 100%;
  -moz-animation: drawboost 6s forwards ease-in;
  -webkit-animation: drawboost 6s forwards ease-in;
  animation: drawboost 6s forwards ease-in;
  -webkit-background-clip: text;
  stroke: var(--texto);
  fill: none;
  opacity: 1;
}

.cal-logo {
  transition: all 0.5s;
  -moz-animation: color 6s alternate ease-in;
  -webkit-animation: color 6s alternate ease-in;
  animation: color 6s alternate ease-in;
}

.cub-logo {
  opacity: 0;
  transition: all 0.5s;
  -moz-animation: op 6s forwards ease-in;
  -webkit-animation: op 6s forwards ease-in;
  animation: op 6s forwards ease-in;
}

.color-logo {
  transition: all 0.5s;
  -moz-animation: color 6s reverse ease-in;
  -webkit-animation: color 6s reverse ease-in;
  animation: color 6s reverse ease-in;
}

.colorSvg {
  transition: all 0.5s;
  stroke-width: 1 !important;
  stroke: black;
}

@keyframes op {
  100% {
    opacity: 1;
  }
}
@keyframes color {
  100% {
    fill: red;
    stroke: red;
  }
}
@keyframes drawboost {
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 0;
  }
}
@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes drawUpt {
  100% {
    stroke-dashoffset: 0;
    fill: black;
  }
}
@keyframes skew {
  100% {
    transform: rotate(0deg);
  }
}
@keyframes flip {
  100% {
    transform: rotateY(180deg);
  }
}
.secondly {
  transition: all 0.5s;
  opacity: 0;
  animation: appear 3s forwards ease-in;
  animation-delay: 3.5s;
}

.thirdly {
  transition: all 0.5s;
  opacity: 0;
  animation: appear 3s forwards ease-in, rotate 3s forwards ease-in, again 3s forwards ease-in;
  stroke-dashoffset: 100%;
  stroke-dasharray: 100%;
  stroke: black;
  fill: none;
  stroke-width: 2;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotate {
  to {
    stroke-dashoffset: 0;
  }
}
.loader_container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0%;
  z-index: 90;
  background: #0C0404;
}

.span-container {
  width: 100px;
  height: 100px;
  transform: translate(-50% -50%);
  position: absolute;
  top: 42%;
  left: 45%;
}
.span-container span {
  display: block;
  position: absolute;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  animation: speed 2s infinite ease-in-out;
}
.span-container .one {
  background: #c9ba12;
  animation-delay: 1.5s;
}
.span-container .two {
  background: #a11cc7;
  animation-delay: 1s;
}
.span-container .three {
  background: #237ead;
  animation-delay: 0.5s;
}
.span-container .four {
  background: #e0bcbc;
}

@keyframes speed {
  0% {
    transform: translate(0%);
    border-radius: 50%;
  }
  25% {
    transform: translate(150%) scale(0.5);
    border-radius: 0%;
  }
  50% {
    transform: translate(150%, 150%);
    border-radius: 50%;
  }
  75% {
    transform: translate(0, 150%) scale(0.5);
    border-radius: 0%;
  }
}
#footerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
#footerContainer #footerStart {
  width: 90%;
  color: red;
}

#footer {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#footer #logoSection {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#footer #logoSection #logoImage {
  width: 80%;
  height: 30vh;
}
#footer #logoSection #logoImage svg {
  height: 100%;
  width: 100%;
}
#footer #logoSection #icons {
  width: 80%;
  height: 5vh;
  display: flex;
  justify-content: space-around;
}
#footer #logoSection #icons i {
  font-size: 20px;
}
#footer #textSection {
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 900px) {
  #footer {
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    height: 35vh;
  }
  #footer #logoSection {
    height: 30vh;
    width: 50%;
  }
  #footer #logoSection #logoImage {
    width: 70%;
  }
  #footer #logoSection #icons {
    margin-top: 2vh;
    width: 70%;
  }
  #footer #textSection {
    display: flex;
    flex-direction: row;
  }
  #footer #textSection .textPr {
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-around;
  }
}
body {
  height: 90vh !important;
}

#tutorial {
  margin-top: 10vh;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#tutorial h1 {
  text-align: center;
}
#tutorial .timeline {
  height: 15vh;
  width: 50%;
  border-right: 3px solid var(--texto);
  border-width: 0;
}
#tutorial svg {
  height: 5vh;
  width: 20vw;
  position: absolute;
  left: 37%;
  top: 22%;
}
#tutorial #second-timeline {
  height: 11vh;
}
#tutorial #second-timeline .timeline {
  border-left: 3px solid var(--texto);
  border-bottom: 3px solid var(--texto);
  border-right: none;
  position: absolute;
  width: 30%;
  left: 49%;
  top: 25%;
  border-width: 0;
}
#tutorial #second-timeline svg {
  top: 37%;
}
#tutorial #second-timeline #third {
  left: 64%;
}
#tutorial #third-timeline .timeline {
  border-bottom: 3px solid var(--texto);
  border-right: 3px solid var(--texto);
  position: absolute;
  width: 29%;
  left: 49%;
  top: 40%;
  border-width: 0;
}
#tutorial #third-timeline svg {
  top: 52%;
  left: 65%;
}
#tutorial #third-timeline #fifth {
  left: 38%;
}
#tutorial #fourth-timeline .timeline {
  border-left: 3px solid var(--texto);
  border-bottom: 3px solid var(--texto);
  border-right: none;
  position: absolute;
  width: 29%;
  left: 50%;
  top: 55%;
  border-width: 0;
}
#tutorial #fourth-timeline svg {
  top: 67%;
  left: 38.5%;
}
#tutorial #fourth-timeline #seven {
  left: 65%;
}
#tutorial #fifth-timeline .timeline {
  border-bottom: 3px solid var(--texto);
  position: absolute;
  width: 29%;
  left: 49.69%;
  top: 70%;
  border-width: 0;
}
#tutorial #fifth-timeline svg {
  top: 82%;
  left: 65%;
}
#tutorial #fifth-timeline #noveno {
  left: 38.5%;
}
#tutorial #sixth-timeline .timeline {
  border-left: 3px solid var(--texto);
  border-right: none;
  position: absolute;
  width: 29%;
  left: 49.6%;
  top: 85%;
  height: 7vh;
  border-width: 0;
}
#tutorial a {
  position: absolute;
  width: 7vw;
  left: 46%;
  top: 93%;
  height: 4vh;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  background: #1FC0CF;
  color: white;
  font-weight: bold;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advice {
  display: none;
  flex-direction: column;
  height: 60vh;
  gap: 5%;
  text-align: center;
  width: 60vw;
}

#advices {
  height: 10vh;
  width: 10vw;
  position: absolute;
  top: 105%;
  left: 20%;
}

.anima {
  animation: border 3s forwards ease-in;
}

@keyframes border {
  100% {
    border-width: 3;
  }
}
.at {
  opacity: 0;
}

.animaboost {
  stroke-dashoffset: 100%;
  stroke-dasharray: 100%;
  -moz-animation: drawboost 3s forwards ease-in;
  -webkit-animation: drawboost 3s forwards ease-in;
  animation: drawboost 3s forwards ease-in;
  -webkit-background-clip: text;
  stroke: var(--texto);
  fill: var(--texto);
  opacity: 0;
}

@keyframes drawboost {
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 0;
    fill: var(--texto);
    opacity: 1;
  }
}
@media (min-width: 490px) {
  #tutorial svg {
    left: 38.5%;
  }

  #tutorial #second-timeline .timeline {
    width: 27.5%;
    left: 49.5%;
  }

  #tutorial #second-timeline #third {
    left: 65%;
  }

  #tutorial #third-timeline .timeline {
    width: 27.5%;
  }

  #tutorial #fourth-timeline .timeline {
    width: 27.5%;
  }

  #tutorial #fifth-timeline .timeline {
    width: 27.5%;
  }
}
@media (min-width: 992px) {
  body {
    background: white;
  }

  #tutorial {
    height: 90vh;
  }
  #tutorial svg {
    left: 46.7%;
    width: 5vw;
  }
  #tutorial #second-timeline .timeline {
    width: 10%;
    left: 49.82%;
  }
  #tutorial #second-timeline #third {
    left: 56.5%;
  }
  #tutorial #third-timeline .timeline {
    width: 10%;
    left: 49.82%;
  }
  #tutorial #third-timeline svg {
    left: 56.5%;
  }
  #tutorial #third-timeline #fifth {
    left: 46.7%;
  }
  #tutorial #fourth-timeline .timeline {
    width: 10.6%;
  }
  #tutorial #fourth-timeline svg {
    left: 46.8%;
  }
  #tutorial #fourth-timeline #seven {
    left: 57.6%;
  }
  #tutorial #fifth-timeline .timeline {
    width: 11%;
  }
  #tutorial #fifth-timeline svg {
    left: 57.7%;
  }
  #tutorial #fifth-timeline #noveno {
    left: 46.5%;
  }

  #advices {
    height: 10vh;
    width: 20vw;
    position: absolute;
    top: 20%;
    left: 5%;
  }

  .advice {
    width: 30vw;
  }
}
body {
  background: var(--body);
}

#showcaseContainer {
  margin-top: 10vh;
  height: 256.6666666667vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#showcaseContainer h1 {
  text-align: center;
}
#showcaseContainer svg {
  height: 100%;
  width: 100%;
}
#showcaseContainer #imagesShow {
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#showcaseContainer .showcaseSection {
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
#showcaseContainer .showcaseSection .showcaseChest {
  background: var(--landingGrey);
  height: 100%;
  width: 80%;
  border-radius: 20%;
  opacity: 1;
}
#showcaseContainer .showcaseSection .showcaseOverlay {
  height: 30vh;
  width: 80%;
  background: black;
  border-radius: 20%;
  display: none;
  position: absolute;
  color: white;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
}
#showcaseContainer .showcaseSection .showcaseOverlay h1 {
  color: white;
}
#showcaseContainer .showcaseSection .showcaseOverlay h2 {
  color: white;
}
#showcaseContainer .showcaseSection .showcaseOverlay p {
  color: white;
}

@media (min-width: 992px) {
  #showcaseContainer {
    height: 116.6666666667vh !important;
    display: flex;
  }
  #showcaseContainer #imagesShow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  #showcaseContainer .showcaseSection {
    height: 30vh !important;
    width: 30% !important;
  }
  #showcaseContainer .showcaseSection .showcaseChest {
    height: 30vh !important;
    width: 70% !important;
  }
  #showcaseContainer .showcaseSection .showcaseOverlay {
    height: 30vh !important;
    width: 22% !important;
  }
}
#containerLogin {
  height: 120vh;
  width: 100%;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}
#containerLogin #login {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
}
#containerLogin #login #signIn {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#containerLogin #login #signIn p {
  font-weight: bold;
  font-size: 20px;
}
#containerLogin #login #signIn #formIn {
  height: 70%;
  width: 80%;
}
#containerLogin #login #signIn #formIn form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#containerLogin #login #signIn #formIn form div:not(#btnIn) {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#containerLogin #login #signIn #formIn form label {
  color: var(--texto);
}
#containerLogin #login #signIn #formIn form input {
  border: none;
  outline: none;
  border-bottom: 3px solid;
  background: var(--body);
  color: var(--texto);
}
#containerLogin #login #signIn #formIn form input::placeholder {
  color: var(--texto);
}
#containerLogin #login #signIn #formIn form #btnIn {
  display: flex;
  height: 17%;
  justify-content: center;
}
#containerLogin #login #signIn #formIn form #btnIn button {
  width: 40%;
  border: none;
  background: #1FC0CF;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
#containerLogin #login #signUp {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#containerLogin #login #signUp p {
  font-weight: bold;
  font-size: 20px;
}
#containerLogin #login #signUp #formUp {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#containerLogin #login #signUp #formUp form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 80%;
}
#containerLogin #login #signUp #formUp form div {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#containerLogin #login #signUp #formUp form div label {
  color: var(--texto);
}
#containerLogin #login #signUp #formUp form div input {
  border: none;
  outline: none;
  border-bottom: 3px solid;
  background: var(--body);
  color: var(--texto);
}
#containerLogin #login #signUp #formUp form div input::placeholder {
  color: var(--texto);
}
#containerLogin #login #signUp #formUp form #btnUp {
  display: flex;
  height: 10%;
  justify-content: center;
  align-items: center;
}
#containerLogin #login #signUp #formUp form #btnUp button {
  width: 40%;
  height: 100%;
  border: none;
  background: #1FC0CF;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
#containerLogin #login #overlay {
  height: 70%;
  width: 90%;
  background-image: var(--login-gradient);
  position: absolute;
  top: 60%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: top, height;
  transition-duration: 2s, 2s;
}
#containerLogin #login #overlay button {
  padding: 10px;
  background: transparent;
  border: 3px solid var(--body);
  color: var(--body);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

@media (min-width: 992px) {
  #containerLogin {
    height: 80vh;
  }

  label {
    font-weight: bold;
    font-size: 18px;
  }

  input {
    font-size: 17px;
  }

  #login {
    height: 80vh !important;
    width: 90%;
    display: flex;
    flex-direction: row !important;
    align-items: center;
  }
  #login #signIn {
    height: 100% !important;
    width: 50% !important;
  }
  #login #signIn #formIn form div:not(#btnIn) {
    height: 20% !important;
  }
  #login #signIn #formIn form #btnIn {
    height: 10% !important;
  }
  #login #signIn #formIn form #btnIn button {
    width: 20% !important;
  }
  #login #signUp {
    height: 100% !important;
    width: 50% !important;
  }
  #login #signUp #formUp form #btnUp {
    height: 10% !important;
  }
  #login #signUp #formUp form #btnUp button {
    width: 20% !important;
  }
  #login #overlay {
    height: 100% !important;
    width: 50% !important;
    left: 50%;
    top: 0% !important;
    transition-property: left !important;
    transition-duration: 2s !important;
  }
}
#boardContainer {
  height: 120vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#boardContainer #board {
  height: 40%;
  width: 80%;
  border: 3px solid var(--texto);
}
#boardContainer #board #punteros {
  height: 100%;
  width: 100%;
}
#boardContainer #tools {
  height: 20%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#boardContainer #tools #changeBg img {
  display: none;
}
#boardContainer #tools #changeBg input {
  display: none;
}
#boardContainer #tools .tool {
  height: 30%;
  width: 20%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#boardContainer #tools .tool i {
  font-size: 32px;
  color: #9c47fc;
  display: block;
  background: var(--icon-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#boardContainer #tools #color img {
  display: none;
}
#boardContainer #tools #fillContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#boardContainer #tools #fillContainer img {
  display: none;
}
#boardContainer #coor {
  height: 5vh;
  width: 40vw;
  position: absolute;
  z-index: 3;
  left: 30%;
  top: 87%;
  display: flex;
  justify-content: space-around;
}

#lienzo {
  position: absolute;
  top: 0;
  z-index: -1;
}
#lienzo line {
  stroke-width: 4;
}

#textoInput {
  height: 3vh;
  width: 20vh;
  position: absolute;
  top: 20%;
  left: 50%;
  display: none;
}

#textoInput textarea {
  height: 100%;
  width: 100%;
  background: transparent;
  color: var(--texto);
}

#namingContainer {
  height: 80vh;
  position: fixed;
  top: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 3px solid;
  display: none;
  background: white;
  z-index: 90;
  align-items: center;
  justify-content: space-evenly;
}
#namingContainer h1 {
  font-size: 20px;
  color: black;
}
#namingContainer div button {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  background-color: #1FC0CF;
  color: white;
  border: 3px solid white;
}
#namingContainer div #cancellNaming {
  background-color: #FFA69E;
}
#namingContainer #catExport {
  display: flex;
  flex-direction: column;
  border: 3px solid red;
  width: 50%;
  height: 15%;
  align-items: center;
}
#namingContainer #catExport select {
  height: 100%;
}
#namingContainer #catExport i {
  font-size: 30px;
}
#namingContainer #addCatContainer {
  height: 40%;
  width: 80%;
  border: 3px solid;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#doneFill {
  height: 5vh;
  width: 20vw;
  position: absolute;
  top: 10%;
  left: 40%;
  z-index: 92;
  display: none;
}
#doneFill button {
  height: 100%;
  width: 100%;
}

#exportar i {
  font-size: 30px;
}

#exportar {
  display: flex;
  justify-content: center;
}

.toolSelected {
  border: 3px solid black;
  height: 30%;
  width: 20%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#colorPicker {
  display: none;
}

#fill {
  display: none;
}

#grosor i {
  font-size: 25px;
}

#grosorContainer {
  position: absolute;
  top: 5%;
  left: 10%;
  display: flex;
  height: 7%;
  flex-wrap: wrap;
  display: none;
  /* 2.2 TRACK */
}
#grosorContainer input[type=range],
#grosorContainer input[type=range]::-webkit-slider-runnable-track,
#grosorContainer input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
#grosorContainer input[type=range]::-webkit-slider-thumb {
  background-color: #fff;
  width: 20px;
  height: 20px;
  border: 3px solid #333;
  border-radius: 50%;
  margin-top: -9px;
}
#grosorContainer input[type=range]::-moz-range-thumb {
  background-color: #555;
  width: 15px;
  height: 15px;
  border: 3px solid #333;
  border-radius: 50%;
}
#grosorContainer input[type=range]::-ms-thumb {
  background-color: #555;
  width: 20px;
  height: 20px;
  border: 3px solid #333;
  border-radius: 50%;
}
#grosorContainer input[type=range]::-webkit-slider-runnable-track {
  background-color: var(--texto);
  height: 3px;
}
#grosorContainer input[type=range]:focus::-webkit-slider-runnable-track {
  outline: none;
}
#grosorContainer input[type=range]::-moz-range-track {
  background-color: #555;
  height: 3px;
}
#grosorContainer input[type=range]::-ms-track {
  background-color: #555;
  height: 3px;
}
#grosorContainer input[type=range]::-ms-fill-lower {
  background-color: HotPink;
}
#grosorContainer input[type=range]::-ms-fill-upper {
  background-color: black;
}

div[data-name=mojs-shape] {
  z-index: -80;
}

#namingLoader {
  height: 20vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}
#namingLoader #loader {
  height: 40%;
  width: 30%;
  border: 3px solid blue;
  border: 10px solid #f3f3f3;
  /* Light grey */
  border-top: 10px solid #3498db;
  /* Blue */
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

#tools2 {
  margin-top: 10vh;
  height: 15%;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}
#tools2 .tool {
  height: 50%;
  width: 20%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#tools2 .tool i {
  font-size: 32px;
  color: #9c47fc;
  display: block;
  background: var(--icon-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#gradientContainer {
  position: fixed;
  top: 10%;
  z-index: 90;
  left: 10%;
  height: 80%;
  background-color: white;
  border: 3px solid;
  width: 80%;
  display: flex;
  justify-content: center;
  display: none;
}
#gradientContainer #cancellGradient {
  height: 10vh;
  width: 80%;
  display: flex;
  z-index: 92;
  justify-content: end;
  position: absolute;
  align-items: center;
}
#gradientContainer #cancellGradient i {
  color: black;
}
#gradientContainer #contentGradient {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#gradientContainer #contentGradient h3 {
  color: black;
}
#gradientContainer #contentGradient select {
  height: 5vh;
  width: 10vw;
  background: white;
}
#gradientContainer #contentGradient div img {
  display: none;
}
#gradientContainer #contentGradient button {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  background: #1FC0CF;
  border: none;
  color: white;
}

#chooseGradient {
  position: fixed;
  top: 10%;
  z-index: 190;
  left: 10%;
  height: 80%;
  background-color: white;
  border: 3px solid;
  width: 80%;
  display: flex;
  justify-content: center;
  display: none;
}
#chooseGradient #cancellChoose {
  height: 10vh;
  width: 80%;
  display: flex;
  z-index: 92;
  justify-content: end;
  position: absolute;
  align-items: center;
}
#chooseGradient #contentChoose {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#atrasTablero {
  height: 7vh;
  width: 80%;
  position: absolute;
  top: 0%;
  z-index: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#atrasTablero svg {
  height: 100%;
  width: 30%;
}

@media (min-width: 900px) {
  #boardContainer {
    height: 100vh !important;
    flex-direction: row-reverse !important;
    justify-content: start;
    gap: 30%;
    margin-top: 0%;
  }
  #boardContainer #board {
    height: 60%;
    width: 30% !important;
  }
  #boardContainer #tools {
    width: 5%;
    height: 80%;
    display: flex;
  }
  #boardContainer #tools .tool {
    height: 10%;
    width: 100%;
  }
  #boardContainer #coor {
    width: 10vw;
    left: 45% !important;
    top: 80% !important;
  }

  #namingContainer {
    justify-content: space-around;
    align-items: center;
    height: 70vh;
    top: 15%;
    left: 20%;
    width: 60%;
  }
  #namingContainer textarea {
    width: 30%;
    height: 50%;
  }
  #namingContainer #catExport {
    flex-direction: row;
    justify-content: center;
  }
  #namingContainer #catExport select {
    height: 100%;
  }

  .toolSelected {
    height: 10%;
    width: 80%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #grosorContainer {
    display: none;
    position: absolute;
    top: 15%;
    left: 40%;
    align-items: flex-start;
  }
  #grosorContainer input {
    margin-top: 10px;
  }

  #namingLoader {
    height: 20vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
  }
  #namingLoader #loader {
    height: 40% !important;
    width: 20% !important;
    border: 3px solid blue;
    border: 10px solid #f3f3f3;
    /* Light grey */
    border-top: 10px solid #3498db;
    /* Blue */
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }

  #tools2 {
    width: 5%;
    height: 80%;
    display: flex;
    flex-direction: column;
  }
  #tools2 .tool {
    height: 10%;
    width: 100%;
  }

  #gradientContainer {
    width: 60%;
    left: 20%;
  }

  #atrasTablero {
    width: 10%;
  }
  #atrasTablero #imgAtras {
    width: 60%;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
h3 {
  color: var(--texto);
}

h4 {
  color: var(--texto);
}

th {
  color: var(--texto);
}

#userModal {
  height: 50vh;
  width: 100%;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-bottom: 3px solid var(--texto);
}
#userModal #userImage {
  height: 50%;
  width: 80%;
  background: #C4C4C4;
  background-size: cover;
}
#userModal #userImage #cambiarModal {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#userModal #userImage #cambiarModal #cambiarFoto {
  display: none;
}
#userModal #userImage #cambiarModal:hover {
  background: rgba(0, 0, 0, 0.5);
}
#userModal #userImage #cambiarModal:hover #cambiarFoto {
  display: flex;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  background: #13C4A3;
  font-weight: bold;
  color: white;
}

#exhibition {
  margin-top: 2vh;
  height: 150vh;
  width: 100%;
}
#exhibition table {
  height: 100%;
  width: 100%;
}
#exhibition table #header {
  width: 100%;
  display: flex;
  display: none;
  justify-content: space-around;
}
#exhibition table tr {
  display: flex;
  flex-direction: column;
  height: 25%;
  justify-content: space-evenly;
}
#exhibition table tr td {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#exhibition table tr td p {
  font-weight: 800;
}
#exhibition table tr td a {
  height: 5vh;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  background: #1FC0CF;
  color: white;
  font-weight: bold;
}
#exhibition table tr td #editBtn {
  background: #14213D;
}
#exhibition table tr td #delBtn {
  background: #DA4167;
}
#exhibition table tr td button {
  height: 5vh;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  border: none;
  background: #1FC0CF;
  color: white;
  font-weight: bold;
}

#btnCrearLie {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#btnCrearLie a {
  text-decoration: none;
  background: var(--texto);
  color: var(--body);
  padding: 10px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
#btnCrearLie #create_group {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  color: white;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #2B3A67;
}
#btnCrearLie #see_group {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  color: white;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #702632;
}

#downloadContainer {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 9;
  top: 0%;
  display: none;
}
#downloadContainer #downloadModal {
  height: 60%;
  width: 80%;
  position: fixed;
  background: white;
  top: 30%;
  left: 10%;
  display: flex;
  justify-content: center;
}
#downloadContainer #downloadModal #closeDownload {
  width: 80%;
  height: 7vh;
  display: flex;
  align-items: end;
  justify-content: flex-end;
  z-index: 12;
  position: absolute;
}
#downloadContainer #downloadModal #closeDownload i {
  font-size: 20px;
}
#downloadContainer #downloadModal #contentDown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 30%;
}
#downloadContainer #downloadModal #contentDown textarea {
  display: none;
  max-height: 200px;
  max-width: 300px;
}
#downloadContainer #downloadModal #contentDown a {
  height: 5vh;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  border: 2px solid white;
  background: #1FC0CF;
  color: white;
  font-weight: bold;
}

#paginacion {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}
#paginacion #container {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
}
#paginacion #container nav {
  height: 100%;
  width: 100%;
}
#paginacion #container nav ul {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#paginacion #container nav ul li {
  text-decoration: none;
  color: var(--texto);
  list-style: none;
  font-weight: bold;
}
#paginacion #container nav ul li a {
  text-decoration: none;
  color: var(--texto);
}
#paginacion #container nav ul li a[rel=next] {
  font-size: 20px;
}
#paginacion #container nav ul .active {
  background: #1FC0CF;
  padding: 7px;
  padding-left: 12px;
  padding-right: 12px;
  color: white;
  border-radius: 10px;
}

#changeFotoModal {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
#changeFotoModal #fotoMain {
  height: 60%;
  width: 80%;
  background: var(--body);
  display: flex;
}
#changeFotoModal #fotoMain #main {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#changeFotoModal #fotoMain #main form {
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: space-evenly;
  align-items: center;
}
#changeFotoModal #fotoMain #main form div {
  display: flex;
  flex-direction: column;
}
#changeFotoModal #fotoMain #main form button {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  background: #13C4A3;
  color: white;
  font-weight: bold;
}
#changeFotoModal #fotoMain #closeMain {
  height: 10%;
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#changeFotoModal #fotoMain #closeMain i {
  font-size: 25px;
}

#createGroupModal {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 90;
  top: 0%;
  display: none;
}
#createGroupModal #create_group_main {
  height: 80%;
  width: 100%;
  z-index: 90;
  background: var(--body);
  color: var(--texto);
  display: flex;
  justify-content: space-around;
}
#createGroupModal #create_group_main #contentCreateGroup {
  height: 100%;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#createGroupModal #create_group_main #contentCreateGroup form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 90%;
  width: 70%;
}
#createGroupModal #create_group_main #contentCreateGroup form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#createGroupModal #create_group_main #contentCreateGroup form button {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  background: var(--azul);
  border: none;
  color: white;
}
#createGroupModal #create_group_main #closeCreateGroup {
  height: 10%;
  width: 5%;
  display: flex;
  align-items: center;
}
#createGroupModal #create_group_main #closeCreateGroup i {
  font-size: 20px;
}

#seeGroupModal {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 90;
  top: 0%;
  display: none;
}
#seeGroupModal #see_group_main {
  height: 80%;
  width: 100%;
  z-index: 90;
  background: var(--body);
  color: var(--texto);
  display: flex;
  justify-content: space-around;
}
#seeGroupModal #see_group_main #contentSeeGroup {
  height: 100%;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#seeGroupModal #see_group_main #contentSeeGroup #container {
  height: 95%;
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#seeGroupModal #see_group_main #contentSeeGroup #container .filaGroup {
  height: 7%;
  width: 80%;
  border-bottom: 3px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 75%;
}
#seeGroupModal #see_group_main #contentSeeGroup #container .filaGroup a {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  padding: 5px 10px;
  background: var(--azul);
  border: none;
}
#seeGroupModal #see_group_main #closeSeeGroup {
  height: 10%;
  width: 5%;
  display: flex;
  align-items: center;
}
#seeGroupModal #see_group_main #closeSeeGroup i {
  font-size: 20px;
}

@media (min-width: 900px) {
  #userModal {
    height: 30vh;
  }
  #userModal #userImage {
    height: 60%;
    width: 20%;
  }

  #exhibition {
    height: 51vh;
    width: 100%;
  }
  #exhibition table {
    height: 100%;
    width: 100%;
  }
  #exhibition table #header {
    height: 5vh;
    display: flex;
    flex-direction: row !important;
  }
  #exhibition table #header th {
    width: 20%;
    justify-content: center;
    display: flex;
  }
  #exhibition table tr {
    display: flex;
    flex-direction: row;
    height: 10vh;
    justify-content: center;
  }

  #btnCrearLie {
    height: 7vh;
    flex-direction: row;
  }

  #downloadContainer #downloadModal {
    width: 40%;
    top: 30%;
    left: 30%;
  }

  #paginacion {
    height: 5vh;
    width: 100%;
  }

  #changeFotoModal {
    height: 100%;
  }
  #changeFotoModal #fotoMain {
    width: 50%;
  }
  #changeFotoModal #fotoMain #main {
    width: 95%;
  }
  #changeFotoModal #fotoMain #closeMain {
    width: 5%;
  }

  #createGroupModal #create_group_main {
    width: 50%;
  }

  #seeGroupModal #see_group_main {
    width: 50%;
  }
}
span {
  color: var(--texto);
}

.text {
  width: 100%;
  text-align: center;
}

.number {
  margin-top: 10vh;
  width: 100%;
  text-align: center;
  background: #fff;
  position: relative;
  font: 900 30vmin "Consolas";
  letter-spacing: 5vmin;
  text-shadow: 2px -1px 0 #000, 4px -2px 0 #0a0a0a, 6px -3px 0 #0f0f0f, 8px -4px 0 #141414, 10px -5px 0 #1a1a1a, 12px -6px 0 #1f1f1f, 14px -7px 0 #242424, 16px -8px 0 #292929;
}
.number::before {
  background-color: #673ab7;
  background-image: radial-gradient(closest-side at 50% 50%, #ffc107 100%, rgba(0, 0, 0, 0)), radial-gradient(closest-side at 50% 50%, #e91e63 100%, rgba(0, 0, 0, 0));
  background-repeat: repeat-x;
  background-size: 40vmin 40vmin;
  background-position: -100vmin 20vmin, 100vmin -25vmin;
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
  animation: moving 10s linear infinite both;
  display: block;
  position: absolute;
  content: "";
}
@keyframes moving {
  to {
    background-position: 100vmin 20vmin, -100vmin -25vmin;
  }
}

.text {
  font: 400 5vmin "Courgette";
}
.text span {
  font-size: 10vmin;
}

#mainGroup {
  margin-top: 10vh;
  height: 90vh;
  width: 100%;
}
#mainGroup #title_group {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#mainGroup #title_group i {
  font-size: 20px;
  display: none;
}
#mainGroup #title_group:hover i {
  display: flex;
}

#modalMembersContainer {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0%;
  z-index: 90;
  display: none;
}
#modalMembersContainer #modalMembersMain {
  width: 40%;
  height: 60%;
  background: white;
  display: flex;
}
#modalMembersContainer #modalMembersMain #contentModalMembers {
  height: 100%;
  width: 95%;
}
#modalMembersContainer #modalMembersMain #closeModalMembers {
  height: 10%;
  width: 5%;
  display: flex;
  align-items: center;
}

#modalCategoryContainer {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0%;
  z-index: 90;
  display: none;
}
#modalCategoryContainer #modalCategoryMain {
  width: 40%;
  height: 60%;
  background: white;
  display: flex;
}
#modalCategoryContainer #modalCategoryMain #contentModalCategory {
  height: 100%;
  width: 95%;
}
#modalCategoryContainer #modalCategoryMain #closeModalCategory {
  height: 10%;
  width: 5%;
  display: flex;
  align-items: center;
}

#modalNameContainer {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0%;
  z-index: 90;
}
#modalNameContainer #modalNameMain {
  width: 40%;
  height: 60%;
  background: var(--body);
  display: flex;
}
#modalNameContainer #modalNameMain #contentModalName {
  height: 100%;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30%;
}
#modalNameContainer #modalNameMain #contentModalName input {
  border: none;
  outline: none;
  border-bottom: 3px solid;
  background: var(--body);
  color: var(--texto);
}
#modalNameContainer #modalNameMain #contentModalName button {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
#modalNameContainer #modalNameMain #closeModalName {
  height: 10%;
  width: 5%;
  display: flex;
  align-items: center;
}

#subtitle_container {
  height: 60vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1.4fr 0.3fr 1fr;
}
#subtitle_container #title_members {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#subtitle_container #members_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#subtitle_container #members_container .member_icon {
  height: 20%;
  width: 17%;
  border: 3px solid;
  border-radius: 50%;
}
#subtitle_container #title_category {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#subtitle_container #category_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#group_canvas_container {
  height: 150vh;
  width: 100%;
  border: 3px solid;
}
#group_canvas_container table {
  height: 100%;
  width: 100%;
}
#group_canvas_container table tr {
  display: flex;
  flex-direction: column;
  height: 10vh;
  justify-content: center;
}
#group_canvas_container table tr td {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#group_canvas_container table #header {
  height: 5vh;
  display: flex;
  display: none;
  flex-direction: row;
  justify-content: space-around;
}

#make_canvas_container {
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#make_canvas_container a {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  background: #702632;
  color: white;
}

@media (min-width: 500px) {
  #subtitle_container {
    height: 20vh;
    display: grid;
    grid-template-rows: 1fr 0.7fr;
    grid-template-columns: 1fr 1fr;
  }

  #title_category {
    grid-column: 2/2;
    grid-row: 1/1;
  }

  #members_container {
    flex-direction: row !important;
    align-items: center;
    justify-content: center !important;
  }
  #members_container .member_icon {
    width: 6% !important;
    height: 70% !important;
  }

  #group_canvas_container {
    height: 60%;
  }

  table tr {
    flex-direction: row !important;
  }
  table #header {
    display: flex !important;
  }
}

/*# sourceMappingURL=main.css.map */
